{# src/Manage/CompanyBundle/Resources/views/Page/form.html.twig #}
{% extends 'ManageCompanyBundle:Page:base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>Configuración de tu cuenta</h1>
		{% if info is defined %}
			<div class="row">
				<p class="alert{% if ok is not defined %} alert-danger{% else %} alert-success{% endif %}">{{ info }}</p>
			</div>
		{% endif %}
		<form method="post" id="form-account" action="{{ path('cuenta_guardar') }}">
			<h2>Datos usuario</h2>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
        				<label class="control-label">Nombre de usuario</label>
            			<input type="text" class="form-control" name="inputUserName" id="inputUserName" {% if userLog is defined %} value="{{ userLog.username }}" {% endif %} placeholder="Usuario">
    				</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
        				<label class="control-label">Email</label>
            			<input type="email" class="form-control" name="inputEmail" id="inputEmail" {% if userLog is defined %} value="{{ userLog.email }}" {% endif %} placeholder="Email">
    				</div>
				</div>
			</div>
    		<h2>Datos empresa</h2>
    		<div class="row">
    			<div class="col-md-8">
    				<div class="form-group">
        				<label class="control-label">Nombre restaurante</label>
            			<input type="text" class="form-control" name="inputNombre" id="inputNombre" {% if usuarioRestaurante is defined %} value="{{ usuarioRestaurante.nombre }}" {% endif %} placeholder="Nombre restaurante">
        			</div>
    			</div>
    			<div class="col-md-4">
    				<div class="form-group">
        				<label class="control-label">CIF</label>
            			<input type="text" class="form-control" name="inputCIF" id="inputCIF" {% if usuarioRestaurante is defined %} value="{{ usuarioRestaurante.cif }}" {% endif %} placeholder="NIF">
        			</div>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-md-6">
    				<div class="form-group">
        				<label class="control-label">Dirección</label>
            			<input type="text" class="form-control" name="inputDireccion" id="inputDireccion" {% if usuarioRestaurante is defined %} value="{{ usuarioRestaurante.direccion }}" {% endif %} placeholder="Direccion">
        			</div>
    			</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="control-label">Provincia</label>
						<select id="provincias" class="form-control" name="provincia">
						{% if provincias is defined %}
							{% for provincia in provincias %}
								{% if usuarioRestaurante is defined and provincia.id == usuarioRestaurante.provincia_id %}
									<option value="{{ provincia.id }}" selected>{{ provincia.nombre }}</option>
								{% else %}
									<option value="{{ provincia.id }}">{{ provincia.nombre }}</option>
								{% endif %}
							{% endfor %}
							{% endif %}
						</select>
					</div>
				</div>
    			<div class="col-md-3">
    				<div class="form-group" id="select-localidades">
        				<label class="control-label">Localidad</label>
        				<select class="form-control" name="localidad" id="restaurante_localidad">
							{% if usuarioRestaurante is defined %}
								<option value="{{ usuarioRestaurante.localidad_id }}" selected>{{ usuarioRestaurante.localidad }}</option>
							{% endif %}
            			</select>
        			</div>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-md-6">
    				<div class="form-group alig">
        				<label class="control-label">Tipo de comida</label>
						<input type="text" class="form-control tm-input tm-input-typeahead" id="tipo-comida" name="tipo-comida" placeholder="Española">
						<input type="hidden" id="txthid" name="id">
        			</div>
    			</div>
    			<div class="col-md-3 {% if usuarioRestaurante is defined and usuarioRestaurante.tipoComida[1] is defined %}align-ceil{% endif %}">
    				<label class="control-label required">Precio envío</label>
    				<input type="text" title="El campo debe contener un número" pattern="^\d*([\.|,]\d)?" class="form-control"
						   name="inputEnvio" id="inputEnvio" {% if usuarioRestaurante is defined %} value="{{ usuarioRestaurante.precio_envio }}" {% endif %} placeholder="Precio envio">
    			</div>
    			<div class="col-md-3 {% if usuarioRestaurante is defined and usuarioRestaurante.tipoComida[1] is defined %}align-ceil{% endif %}">
    				<div class="form-group">
        				<label class="control-label">Teléfono</label>
            			<input type="text" class="form-control" name="inputTelefono" id="inputTelefono" {% if usuarioRestaurante is defined %} value="{{ usuarioRestaurante.telefono }}" {% endif %} placeholder="Telefono">
        			</div>
    			</div>
    		</div>
        	<div class="form-group">
	        	<input type="submit" class="btn btn-primary" name="save-account" value="Enviar">
				<a href="{{ path('gestion') }}" class="btn btn-danger">Cancelar</a>
        	</div>
		</form>
	</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('manage/css/style_account.css') }}">
	<link rel="stylesheet" href="{{ asset('manage/css/tagmanager.css') }}">
	<link rel="stylesheet" href="{{ asset('manage/css/bootstrap-timepicker.min.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('manage/js/bloodhound.min.js') }}"></script>
	<script src="{{ asset('manage/js/tagmanager.js') }}"></script>
	<script src="{{ asset('manage/js/typeahead.js') }}"></script>
	<script src="{{ asset('manage/js/bootstrap-timepicker.js') }}"></script>
	<script>
		(function(){

			function checkProvinciaSelected(){
				changeLocalidades($('#provincias').val());
			}

			function changeLocalidades(b){
				$("#select-localidades select").empty();
				$.getJSON('http://clickandeat.restaurante.local/app_dev.php/restaurante/localidades?provincia='+b,function(data){
					$.each(data, function(id,value){
						$("#select-localidades select").append('<option value="'+value[2]+'">'+value[0]+' ('+value[1]+') </option>');
					});
				});
			}

			/**
			 * Gestiona los tipos de comida, muestra sugerencias a partir de una consulta
			 **/
			function tagManager(){
				var categories = new Bloodhound({
					datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
					queryTokenizer: Bloodhound.tokenizers.whitespace,
					limit: 10,
					prefetch: {
						url: '{{ path('tipos_comida_json') }}',
						filter: function (list) {
							return $.map(list, function (country) {
								return { name: country };
							});
						}
					}
				});

				categories.initialize();
				var tagApi = jQuery(".tm-input.tm-input-typeahead").tagsManager({
					prefilled: [{% for tc in tipos_comida %}
						"{{ tc.nombre }}"{% if not loop.last %},{% endif %}
						{% endfor %}]
				});
				jQuery(".tm-input.tm-input-typeahead").typeahead(null, {
					name: 'categories',
					displayKey: 'name',
					source: categories.ttAdapter()
				}).on('typeahead:selected', function (e, d) {
					tagApi.tagsManager("pushTag", d.name);
				});
			} tagManager();


			jQuery.fn.resetear = function () {
				$(this).each (function() { this.reset(); });
			};

			$('#provincias').change(function() {
				changeLocalidades($('#provincias').val());
			});


			$('.button-reset').on('click', function(){
				$('#form-account').resetear();
			});
			$('#restaurante_localidad').bind('click', function(){
				if($('#restaurante_localidad').val() == {{ usuarioRestaurante.localidad_id }}) {
					checkProvinciaSelected();
				}
			});
		})();
	</script>
{% endblock %}