{% extends 'ManageCompanyBundle:Page:layout.html.twig' %}

{% block content %}
	<div class="container">
    	{{ form_start(form) }}

		{% if mesa is defined %}
			<h2>Modificar mesa</h2>
		{% else %}
			<h2>Añadir mesa</h2>
		{% endif %}

        <input type="hidden" name="id_restaurante" value="18">

    	{{ form_row(form.numPersonas) }}

    	<div class="form-group">
    		<br />
    		<button type="submit" class="btn btn-primary">Aceptar</button>
			<a href="{{ path('gestion_mesas') }}" class="btn btn-danger">Cancelar</a>
			{% if mesa is defined %}
				<a href="{{ path('delete_mesa', {'id_mesa': mesa.id}) }}" class="btn btn-danger">Eliminar</a>
			{% endif %}
    	</div>
    	{{ form_end(form) }}
    </div>
{% endblock %}