{# @ManageCompanyBundle/Restaurante/pedido.html.twig #}
{% extends 'ManageCompanyBundle:Page:base.html.twig' %}
{% import '@ManageCompany/Librerias/librerias.html.twig' as librerias %}
{% block body %}
<div class="row">
        <div class="container">
            <div class="panel panel-body">
            <div class="panel panel-success">
              <div class="panel-heading">Datos usuario</div>
                <div class="panel-body">
                    <table class = "table">
                        <tr class="row-head">
                            <th>Cliente</th>
                            <th>Email</th>
                        </tr>
                        <tr>
                            <td>{{ pedido.cliente }}</td>
                            <td>{{ pedido.email }}</td>
                        </tr>
                        <tr class="row-head">
                            <th>Dirección de envío</th>
                            <th>Teléfono</th>
                        </tr>
                        <tr>
                            <td>{{ pedido.domicilio }}</td>
                            <td>{{ pedido.telefono }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">Datos pedido</div>
                <div class="panel-body">
                    <div class="panel panel-body">
                        <div class="panel-heading panel-success"><h4>Artículos</h4></div>
                        <table class="table">
                            <tr class="row-head">
                                <th>Referencia</th>
                                <th>P. Unidad</th>
                                <th>Descripción</th>
                                <th>Unidades</th>
                                <th>Descuento</th>
                                <th>Total</th>
                                <th>Total (con descuento)</th>
                            </tr>
                            {% for lp in linea_pedido %}
                                <tr>
                                    <td>{{ lp.idProducto }}</td>
                                    <td>{{ lp.precio }} €</td>
                                    <td>{{ lp.nombre }}</td>
                                    <td>{{ lp.cantidad}}</td>
                                    <td>{{ lp.descuento|number_format(2, '.', ',')  }} €</td>
                                    <td>{{ lp.total|number_format(2, '.', ',')  }} €</td>
                                    <td>{{ lp.totalDescuento|number_format(2, '.', ',')  }} €</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5">TOTAL</td>
                                <td>{{ total|number_format(2, '.', ',')  }} €</td>
                                <td>{{ totalDescuento|number_format(2, '.', ',')  }} €</td>
                            </tr>
                            <tr>
                                <td colspan="5">Total con envío</td>
                                <td>{{ restaurante.precioEnvio|number_format(2, '.', ',')  }} €</td>
                                <td>{{ totalPrecioEnvio|number_format(2, '.', ',')  }} €</td>
                            </tr>
                        </table>
                    </div>
                    <form action="{{ path('guardar_info_pedido') }}" method="post">
                    <table class="table">
                        <tr class="row-head">
                            <th>Identificador</th>
                            <th>Fecha pedido</th>
                            {% if  pedido.estado_id != 9 %}
                                <th><label for="fecha-envio"><label for="fecha-salida">Fecha/Hora salida</label></label></th>
                                <th><label for="fecha-envio"><label for="fecha-llegada">Fecha/Hora llegada</label></label></th>
                            {% endif %}
                            <th><label for="estado">Estado</label></th>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" name="num-pedido" value="{{ pedido.numPedido }}" >
                                <input type="text" class="hidden" name="pedido-id" value="{{ pedido.id }}">
                            </td>
                            <td>{{ pedido.fecha_hora_realizado|date("d-m-Y H:i") }}</td>
                            {% if  pedido.estado_id != 9 %}
                                <td class="pos-rel">
                                    {% if pedido.fecha_hora_salida != null %}
                                           {{ pedido.fecha_hora_salida|date('d-m-Y')}} {{ pedido.fecha_hora_salida|date('H:i') }} {% endif %}</td>
                                <td class="pos-rel">{% if pedido.fecha_hora_llegada != null %}
                                           {{ pedido.fecha_hora_llegada|date('d-m-Y') }}  {{ pedido.fecha_hora_llegada|date('H:i') }} {% endif %}</td>
                            {% endif %}
                            <td>
                                <select class="form-control" name="estado" id="estado">
                                {% for estado in estados %}
                                    <option value="{{ estado.id }}" {% if estado.id == pedido.estado_id %} selected {% endif %}>{{ estado.estado }}</option>
                                {% endfor %}
                                </select>
                            </td>
                        </tr>
                        {% if error is defined and error != null %}
                            <tr>
                                <td colspan="4">
                                    <p class="alert alert-info">{{ error }}</p>
                                </td>
                            </tr>
                        {% endif %}
                        {% if  pedido.estado_id != 9 %} %}
                        <tr>
                            <td><label for="recorrido-id">Recorrido: </label></td>
                            <td>
                                <select class="form-control" name="recorrido-id" id="recorrido-id" required>
                                    {% for recorrido in recorridos %}
                                        <option value="{{ recorrido.id }}"{% if pedido.idRecorrido == recorrido.id %} selected {% endif %}>{{ recorrido.numRecorrido }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td><label for="trabajador-id">Trabajador: </label></td>
                            <td colspan="2">
                                {% if trabajadores is defined and trabajadores != null %}
                                <select class="form-control" name="trabajador-id" id="trabajador-id" required>
                                    {% for trabajador in trabajadores %}
                                        <option value="{{ trabajador.id }}"{% if pedido.idTrabajador == trabajador.id %} selected {% endif %}>{{ trabajador.nombre }} {{ trabajador.apellidos }}</option>
                                    {% endfor %}
                                </select>
                                {% else %}
                                    <p class="alert alert-info">Aún no has añadido trabajadores a tu restaurante</p>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                    </table>
                        <div class="row">
                            <div class="row">
                                <div class="col-sm-offset-3 col-sm-2 text-center">
                                    <button type="button" id="cancel" class="btn btn-danger btn-main-action">Cancelar</button>
                                </div>
                                <div class="col-sm-offset-1 col-sm-2 text-center">
                                    <button type="submit" class="btn btn-success btn-main-action">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('manage/intimidatetime/Intimidatetime.min.css') }}">
    <link rel="stylesheet" href="{{ asset('manage/css/style_orders.css') }}">
    <link rel="stylesheet" href="{{ asset('manage/css/jquery.editable-select.min.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('manage/js/confirm_delete.js') }}"></script>
    <script src="{{ asset('manage/intimidatetime/Intimidatetime.min.js') }}"></script>
    <script src="{{ asset('manage/intimidatetime/i18n/Intimidatetime-es.js') }}"></script>
    <script src="{{ asset('manage/js/jquery.editable-select.min.js') }}"></script>
    <script>
//        (function(){
//            $.intimidatetime.setDefaults($.intimidatetime.i18n['es']);
//            $('.input-datetime').intimidatetime({
//                format: 'dd-MM-yyyy H:m',
//                previewFormat: 'dd-MM-yyyy H:m'
//            });

            {% if  pedido.estado_id != 9 %} %}
            $('#recorrido-id').editableSelect({

                // enable filter
                filter: true,

                // default, fade or slide
                effects: 'default',

                // fast, slow or [0-9]+
                duration: 'fast',

                // callback events
                onCreate: function () {},
                onShow: function () {},
                onHide: function () {},
                onSelect: function (element) {}

            });
            {% endif %}
            $('#cancel').on('click', function(){
                history.back(-1);
            });
//        })();
    </script>
{% endblock %}