{# @GestionBundle/Default/index.html.twig #}
{% extends 'ManageCompanyBundle:Page:base.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ path('gestion_platos')}}">Plato</a></li>
    <li><a href="javascript:;">Edición de página</a></li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="container">
			<p>
				<br />
				<a href="{{ path('add_plato') }}" class="btn btn-primary">Añadir plato</a>
            </p>
			<div class="be-panel col-sm-12">
                <table id="platos-table" class="table display responsive nowrap">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {# if restaurante is defined #}
                        {# if restaurante.platos #}
                            {% for plato in platos %}
                                <tr>
                                    <td>{{ plato.nombre }}</td>
                                    <td>{{ plato.descripcion }}</td>
                                    <td>
                                        <a href="{{ path('edit_plato', {'id_plato': plato.id}) }}" class="btn btn-primary">Editar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {# endif #}
                    {# endif #}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
