{% extends 'ManageCompanyBundle:Page:base.html.twig' %}

{% block body %}
	<div class="container">

    	{{ form_start(form) }}

    	<h2>Insertar plato</h2>

        <input type="hidden" name="id_restaurante" value="18">

    	{{ form_row(form.nombre) }}
        {{ form_row(form.descripcion) }}
        {{ form_row(form.precio) }}
        {{ form_row(form.foto) }}

    	<div class="form-group">
    		<br />
    		<button type="submit" class="btn btn-primary">Insertar</button>
			{% if plato is defined %}
				<a href="{{ path('delete_plato', {'id_plato': plato.id}) }}" class="btn btn-danger">Eliminar</a>
			{% endif %}
    	</div>
    	{{ form_end(form) }}
    </div>
{% endblock %}