{# @GestionBundle/Default/index.html.twig #}
{% extends 'ManageCompanyBundle:Page:base.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ path('gestion_productos')}}">Producto</a></li>
    <li><a href="javascript:;">Edición de página</a></li>
{% endblock %}

{% block body %}
    <div class="row">
    </div>
        <div class="container">

            <p>
                <br />
                <a href="{{ path('add_producto') }}" class="btn btn-primary">Añadir producto</a>
            </p>
            <div class="be-panel col-sm-12">
                <table id="productos-table" class="table display responsive nowrap">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for producto in productos %}
                    <form action="{{ path('edit_producto') }}" method="post">
                        <tr>
                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.descripcion }}</td>
                            <td>
                            <input type="text" class="hidden" name="producto-id" id="producto-id" value="{{ producto.id }}">
                            </td>
                            <td>
                                <button type="submit"  class="btn btn-primary">Editar</button>
                            </td>
                            <td>
                                {% if producto.disponible %}
                                    <a href="{{ path('activar_producto', {'id_producto': producto.id, 'value': 0} ) }}" class="btn btn-warning">Desactivar</a>
                                {% else %}
                                    <a href="{{ path('activar_producto', {'id_producto': producto.id , 'value': 1} ) }}" class="btn btn-warning">Activar</a>
                                {% endif %}
                            </td>
                        </tr>
                    </form>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}
