{# src/ManageCompanyBundle/Resources/views/Restaurante/producto.html.twig #}
{% extends 'ManageCompanyBundle:Page:base.html.twig' %}

{% block body %}
	{% include 'ManageCompanyBundle:Dialog:confirm_delete.php.twig' %}
	<div class="container">
    	{{ form_start(form) }}

		{% if producto is defined %}
			<h2>Modificar producto</h2>
		{% else %}
			<h2>Insertar producto</h2>
		{% endif %}
		
		<div>
			<label class="control-label">Tipo producto</label>
			<input type="text" class="form-control tm-input tm-input-typeahead" id="tipo-producto" name="tipo-producto" placeholder="Pizza, hamburguesa...">
			<input type="hidden" id="txthid" name="id">
		</div>

    	{{ form_row(form.nombre) }}
        {{ form_row(form.descripcion) }}
        {{ form_row(form.precio) }}
		
		{% if producto is defined %}
			{% if producto.foto %}
				<p><img src="{{ asset('uploads/restaurantes/productos/' ~ producto.foto ) }}" alt="Foto de producto" class="img-thumbnail"></p>
			{% endif %}
		{% endif %}
		
        {{ form_row(form.img) }}

    	<div class="form-group">
    		<br />
    		<button type="submit" class="btn btn-primary">Aceptar</button>
			<a href="{{ path('gestion_productos') }}" class="btn btn-danger">Cancelar</a>
			{% if producto is defined %}
				<button class="btn btn-danger" id="del" type="button" data-toggle="modal" data-route="{{ path('delete_producto', {'id_producto': producto.id}) }}" data-target="#confirmDelete" data-title="Confirmación" data-message="¿Estás seguro que deseas eliminar el producto '{{ producto.nombre }}'?">
					<i class="glyphicon glyphicon-trash"></i> Eliminar
				</button>
			{% endif %}
    	</div>
    	{{ form_end(form) }}
    </div>
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('manage/css/tagmanager.css') }}">
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('manage/js/bloodhound.min.js') }}"></script>
	<script src="{{ asset('manage/js/tagmanager.js') }}"></script>
	<script src="{{ asset('manage/js/typeahead.js') }}"></script>
	<script src="{{ asset('manage/js/confirm_delete.js') }}"></script>
	<script>
		(function() {

			/**
			 * Gestiona los tipos de productos, muestra sugerencias a partir de una consulta
			 */
			function tagManager(){
				var categories = new Bloodhound({
					datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
					queryTokenizer: Bloodhound.tokenizers.whitespace,
					limit: 10,
					prefetch: {
						url: '{{ path('tipos_producto_json') }}',
						filter: function (list) {
							return $.map(list, function (country) {
								return { name: country };
							});
						}
					}
				});
				categories.initialize();
				var tagApi = jQuery(".tm-input.tm-input-typeahead").tagsManager({
					prefilled: {% if producto.tipoProducto is defined %}[{% for tp in producto.tipoProducto %}
						"{{ tp.nombre }}"{% if not loop.last %},{% endif %}
						{% endfor %}] {% else %} '' {% endif %}
				});
				jQuery(".tm-input.tm-input-typeahead").typeahead(null, {
					name: 'categories',
					displayKey: 'name',
					source: categories.ttAdapter()
				}).on('typeahead:selected', function (e, d) {
					tagApi.tagsManager("pushTag", d.name);
				});
			} tagManager();

			$('ul').css("padding", "0");
			$('li:not(.item-not-style)').addClass("alert alert-danger");
			$('li:not(.item-not-style)').css("listStyle", "none");
		})();
	</script>
{% endblock %}