{# src/ManageCompanyBundle/Resources/views/Restaurante/productos.html.twig #}
{% extends 'ManageCompanyBundle:Page:base.html.twig' %}

{% block body %}
    <div class="container">
		<p>
			<br />
			<a href="{{ path('add_producto') }}" class="btn btn-success">Añadir producto</a>
        </p>
		<div class="be-panel col-sm-12">
            <table id="productos-table" class="table display responsive nowrap">
                <thead>
                <tr>
					<th>Nombre</th>
                    <th>Descripcion</th>
					<th>Disponibilidad</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for producto in productos %}
					<tr>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.descripcion }}</td>
						<td>
							{% if producto.disponible %}
								<a href="{{ path('activar_producto', {'id_producto': producto.id, 'value': 0} ) }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
							{% else %}
								<a href="{{ path('activar_producto', {'id_producto': producto.id, 'value': 1} ) }}"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></a>
							{% endif %}
						</td>
                        <td>
                            <a href="{{ path('edit_producto', {'id_producto': producto.id}) }}" class="btn btn-primary">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
