{% extends 'ManageCompanyBundle:Base:base.html.twig' %}

{% block body %}
	<div class="container">

    	{{ form_start(form) }}

    	<h2>Datos usuario</h2>

    	{{ form_row(form.usuario) }}

    	<div class="row">
    		<div class="col-md-6">
    			{{ form_row(form.password.first) }}
    		</div>
    		<div class="col-md-6">
    			{{ form_row(form.password.second) }}
    		</div>
    	</div>

   		{{ form_row(form.email) }}

   		<h2>Datos empresa</h2>

    	{{ form_row(form.nombre) }}
    	{{ form_row(form.cif) }}

    	<div class="row">
    		<div class="col-md-8">
    			{{ form_row(form.direccion) }}
    		</div>
    		<div class="col-md-4">
    			{{ form_row(form.telefono) }}
    		</div>
    	</div>

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.localidad) }}
            </div>
            <div class="col-md-6">
            {# {{ form_row(form.provincia) }} #}
            </div>
        </div>

    	{{ form_row(form.foto) }}
    	{{ form_row(form.precio_envio) }}

    	<div class="form-group">
    		<br />
    		<button type="submit" class="btn btn-primary">Registro</button>
    	</div>
    	{{ form_end(form) }}
    </div>
{% endblock %}