{# @ManageCompanyBundle/Restaurante/reserva.html.twig #}
{% extends 'ManageCompanyBundle:Page:base.html.twig' %}
{% import '@ManageCompany/Librerias/librerias.html.twig' as librerias %}
{% block body %}
<div class="row">
        <div class="container">
            <div class="panel panel-body">
            <div class="panel panel-success">
              <div class="panel-heading">Datos usuario</div>
                <div class="panel-body">
                    <table class = "table">
                        <tr class="row-head">
                            <th>Cliente</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                        </tr>
                        <tr>
                            <td>{{ reserva.nombre }}</td>
                            <td>{{ reserva.email }}</td>
                            <td>{{ reserva.telefono }}</td>
                    </table>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">Datos reserva</div>
                <div class="panel-body">
                    <div class="panel panel-body">
                    <form action="{{ path('guardar_info_reserva') }}" method="post">
                    <table class="table">
                        <tr class="row-head">
                            <th>Identificador</th>
                            <th>Fecha reserva realizada</th>
                            <th><label for="estado">Estado</label></th>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" name="num-reserva" {% if reserva.numReserva is defined and reserva.numReserva != null %}value="{{ reserva.numReserva }}" {% endif %}>
                                <input type="text" class="hidden" name="reserva-id" value="{{ reserva.id }}">
                            </td>
                            <td>{{ reserva.fechaHoraRealizada|date("d-m-Y H:i") }}</td>
                            <td>
                                <select class="form-control" name="estado-reserva" id="estado-reserva">
                                    {% for estado in estados_reservas %}
                                        <option value="{{ estado.id }}" {% if estado.id == reserva.estado.id %} selected {% endif %}>{{ estado.estado }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="num-personas">Núm Personas</label></th>
                            <th><label for="fecha-envio"><label for="fecha-salida">Fecha/Hora prevista</label></label></th>
                            <th><label for="mesa">Mesa/s</label></th>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" class="form-control" name="num-personas" value="{{ reserva.numPersonas }}">
                            </td>
                             <td class="pos-rel"><input class="form-control input-datetime" type="datetime" name="fecha-hora-prevista" id="fecha-hora-prevista" {% if reserva.fechaHora != null %}
                                       value="{{ reserva.fechaHora|date('d-m-Y')}} {{ reserva.fechaHora|date('H:i') }}" {% endif %}>
                           </td>
                            <td>
                                {% if mesas is defined and mesas != null %}
                               <select name="mesa[]" class="form-control" id="mesa" multiple>
                                    {% for m in mesas %}
                                        {% if mesas_reserva is defined and mesas_reserva != null %}
                                             <option {% for mr in mesas_reserva %}{% if mr.idMesa == m.id  %} selected {% endif %} {% endfor %} value="{{ m.id }}">{{ m.codMesa }} {% if m.descripcion != null %} ({{ m.descripcion }}) {% endif %}</option>
                                        {% else %}
                                            <option value="{{ m.id }}">{{ m.codMesa }} {% if m.descripcion != null %} ({{ m.descripcion }}) {% endif %}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                {% else %}
                                    <p class="alert alert-info">Aún no has añadido ninguna mesa</p>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                        <div class="row">
                            <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-3">
                                    <button type="submit" class="btn btn-large btn-success btn-main-action">Guardar</button>
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" id="btn-cancel" class="btn btn-large btn-danger btn-main-action">Cancelar</button>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('manage/intimidatetime/Intimidatetime.min.css') }}">
    <link rel="stylesheet" href="{{ asset('manage/css/style_orders.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('manage/js/confirm_delete.js') }}"></script>
    <script src="{{ asset('manage/intimidatetime/Intimidatetime.min.js') }}"></script>
    <script src="{{ asset('manage/intimidatetime/i18n/Intimidatetime-es.js') }}"></script>
    <script>
        $.intimidatetime.setDefaults($.intimidatetime.i18n['es']);
        $('.input-datetime').intimidatetime({
            format: 'dd-MM-yyyy H:m',
            previewFormat: 'dd-MM-yyyy H:m'
        });
        $('#btn-cancel').on('click', function(){
            window.location.href = "{{ path('gestion_reservas') }}";
        });
    </script>
{% endblock %}