{# src/ManageCompanyBundle/Resources/views/Restaurante/trabajadores_restaurante.html.twig #}
{% extends 'ManageCompanyBundle:Page:base.html.twig' %}
{% import '@ManageCompany/Librerias/librerias.html.twig' as librerias %}
{% block body %}
	<div class="container">
		<h3>Reservas</h3>
		<div class="panel panel-body panel-success">
			<div class="row">
				<div class="col-md-2">
					<input type="submit" class="btn btn-success my-btn" name="reserves-today" id="reserves-today" value="¿Qué hay hoy?">
				</div>
				<form action="{{ path('reservas_entre_fechas') }}" method="post">
					<div class="col-md-2">
						<input type="text" class="input-date form-control" id="desde" name="desde" readonly placeholder="Desde...">
					</div>
					<div class="col-md-2">
						<input type="text" class="input-date form-control" id="hasta" name="hasta" readonly placeholder="Hasta...">
					</div>
					<div class="col-md-2">
						<input type="submit" class="btn btn-primary my-btn" name="buscar_entre_fechas" id="buscar_entre_fechas" value="Buscar">
					</div>
				</form>
				<div class="col-md-3">
					<select class="form-control" name="select-state" id="select-state">
						<option value="-">- Elige estado -</option>
						<option value="0">Todos</option>
						{% for e in estados_reservas %}
							<option value="{{ e.id }}">{{ e.estado }}</option>
						{% endfor %}
					</select>
				</div>
				<button class="btn btn-info" id="show-info" title="Muestra información sobre el funcionamiento de los botones del panel"><i class="fa fa-info" aria-hidden="true"></i></button>
			</div>
			<br>
			<div class="be-panel col-sm-12">
				<table id="reservas-table" class="table display responsive nowrap">
					<thead>
					<tr>
						<th>Núm reserva</th>
						<th>Cliente</th>
						<th>Realizado</th>
						<th>Estado</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					{% for reserva in reservas %}
						<tr>
							<td>{{ reserva.numReserva }}</td>
							<td>{{ reserva.cliente }}</td>
							<td>{{ reserva.realizado|date("d-m-Y H:i:s") }}</td>
							<td>{% for e in estados_reservas %}
									{% if e.id == reserva.estado_id %}
										{{ e.estado }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								<a href="{{ path('edit_reserva', {'id_reserva': reserva.id}) }}" class="btn btn-primary" title="Editar reserva">
									<i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
								<a href="{{ path('confirm_reserva', {'id_reserva': reserva.id}) }}" class="btn btn-success {% if reserva.estado_id == 2 %}active-state{% endif %}" title='Confirmar reserva'>
									<i class="fa fa-check-circle" aria-hidden="true"></i></a>
								<a href="{{ path('archived_reserva', {'id_reserva': reserva.id}) }}" class="btn btn-warning {% if reserva.estado_id == 4 %}active-state{% endif %}" title='Archivar reserva'>
									<i class="fa fa-file" aria-hidden="true"></i></a>
								<a class="btn btn-danger {% if reserva.estado_id == 3 %}active-state{% endif %}" href="{{ path('cancel_reserva', {'id_reserva': reserva.id}) }}">
									<i class="fa fa-ban" aria-hidden="true"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('fonts/font-awesome-4.6.3/css/font-awesome.css') }}">
	<link rel="stylesheet" href="{{ asset('node_modules/sweetalert/dist/sweetalert.css') }}">
	<link rel="stylesheet" href="{{ asset('manage/css/style_orders.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker-standalone.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css">
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ librerias.datatables_js() }}
	<script src="{{ asset('manage/js/bootstrap-datepicker.min.js') }}"></script>
	<script src="{{ asset('manage/js/datetime-picker.es.js') }}"></script>
	<script src="{{ asset('node_modules/sweetalert/dist/sweetalert.min.js') }}"></script>
	<script>
		$(document).ready(function() {
			$('#reservas-table').DataTable({
				"language": {
					"url": "//cdn.datatables.net/plug-ins/1.10.10/i18n/Spanish.json",
					"decimal": ",",
					"thousands": "."
				},
				"scrollY":        "600px",
				"scrollCollapse": true,
				"lengthMenu": [[5,10, 15, 20, -1], [5,10, 15, 20, "Todos"]]
			});
		});
	</script>
	<script>
		(function(){
			$('#select-state').on('change', function(){
				window.location = "{{ path('show_reserves_state') }}" + "?estado=" + $('#select-state').val();
			});

			$('#show-info').on('click', function(){
				swal({
					title: "INFORMACIÓN",
					text: '<i class="fa fa-pencil-square-o btn btn-primary" aria-hidden="true"></i> - Editar reserva<br><br>' +
					'<i class="fa fa-check-circle btn btn-success" aria-hidden="true"></i> - Cambiar estado reserva a "Confirmada"<br><br>'+
					'<i class="fa fa-file btn btn-warning" aria-hidden="true"></i></i> - Archivar reserva<br><br>'+
					'<i class="fa fa-ban btn btn-danger" aria-hidden="true"></i> - Cancelar reserva<br>',
					html: true
				});
			});
			$('.input-date').datepicker({
				language: "es",
				format: "dd-mm-yyyy",
				startView: 2,
				maxViewMode: 0,
				todayBtn: true,
				multidateSeparator: "-",
				forceParse: false,
				autoclose: true
			});

			$('#reserves-today').on('click', function(){
				window.location.href = "{{ path('gestion_reservas') }}";
			});
		})();
		</script>
{% endblock %}