{# src/ManageCompanyBundle/Resources/views/Restaurante/trabajadores_restaurante.html.twig #}
{% extends 'ManageCompanyBundle:Page:base.html.twig' %}

{% block body %}
	<div class="container">
    	{{ form_start(form) }}

		{% if usuario is defined %}
			<h2>Modificar trabajador</h2>
		{% else %}
			<h2>Añadir trabajador</h2>
		{% endif %}
		
		{{ form_errors(form) }}
		
		{{ form_row(form._token) }}

		{{ form_row(form.name) }}
		<div class="row">
			<div class="col-md-12">
				<label for="apellidos">Apellidos</label>
				<input type="text" class="form-control" name="apellidos" id="apellidos" {% if trabajador is defined %} value="{{ trabajador.apellidos }}" {% endif %} >
			</div>
		</div>
		{{ form_row(form.telefono) }}
		{{ form_row(form.email) }}
		{{ form_row(form.username) }}
		<div class="row">
			<div class="col-md-6">
				{{ form_row(form.password.first) }}
			</div>
			<div class="col-md-6">
				{{ form_row(form.password.second) }}
			</div>
		</div>

    	<div class="form-group">
    		<br />
    		<button type="submit" class="btn btn-primary">Aceptar</button>
			<a href="{{ path('gestion_trabajadores') }}" class="btn btn-danger">Cancelar</a>
			{% if trabajador is defined %}
				<a href="{{ path('delete_trabajador', {'id_trabajador': trabajador.id}) }}" class="btn btn-danger">Eliminar</a>
			{% endif %}
    	</div>
    	{{ form_end(form) }}
    </div>
{% endblock %}