{# src/ManageCompanyBundle/Resources/views/Restaurante/trabajadores.html.twig #}
{% extends 'ManageCompanyBundle:Page:base.html.twig' %}
{% import '@ManageCompany/Librerias/librerias.html.twig' as librerias %}
{% block body %}
    <div class="container">
		<p>
			<br />
			<a href="{{ path('add_trabajador') }}" class="btn btn-success">Añadir trabajador</a>
        </p>
        <div class="panel panel-body panel-default">
		<div class="be-panel col-sm-12">
            <table id="trabajadores-table" class="table display responsive nowrap">
                <thead>
                <tr>
					<th>Nombre</th>
					<th>Apellidos</th>
					<th>Usuario</th>
                    <th>Email</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
				{% for trabajador in trabajadores %}
					<tr>
                        <td>{{ trabajador.name }}</td>
                        <td>{{ trabajador.apellidos }}</td>
						<td>{{ trabajador.username }}</td>
						<td>{{ trabajador.email }}</td>
                        <td>
                            <a href="{{ path('edit_trabajador', {'id_trabajador': trabajador.id}) }}" class="btn btn-primary">Editar</a>
							{% if trabajador.enabled %}
								<a href="{{ path('activar_trabajador', {'id_trabajador': trabajador.id, 'value': 0} ) }}" class="btn btn-warning">Desactivar</a>
							{% else %}
								<a href="{{ path('activar_trabajador', {'id_trabajador': trabajador.id , 'value': 1} ) }}" class="btn btn-warning">Activar</a>
							{% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ librerias.datatables_js() }}
    <script>
        $(document).ready(function() {
            $('#trabajadores-table').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.10/i18n/Spanish.json",
                    "decimal": ",",
                    "thousands": "."
                },
                "scrollY":        "600px",
                "scrollCollapse": true,
                "lengthMenu": [[10, 15, 20, 30, 50, -1], [10, 15, 20, 30, 50,"Todos"]]
            });
        });
    </script>
{% endblock %}