{# src/ClientBundle/Resources/views/Restaurante/show.html.twig #}
{% extends 'ClientBundle:Page:base.html.twig' %}

{% block body %}
	<div class="container">
		<aside>
			<br />
			<div class="panel panel-body panel-default">
			</div>
		</aside>
		<div class="restaurants">
		<br />
		<div class="panel panel-body panel-default">
			{% for restaurante in restaurantes %}
				{% if restaurante.foto %}
					<img src="{{ asset('uploads/restaurantes/images/' ~ restaurante.foto ) }}" width="150px" height="150px" alt="Foto de restaurante" class="img-thumbnail">
				{% else %}
					<img src="{{ asset('uploads/restaurantes/images/image.png' ) }}" width="150px" height="200px" alt="Foto de restaurante" class="img-thumbnail">
				{% endif %}
				<div id="view">
					<h2>{{ restaurante.nombre }}</h2>
					<div>{% for tipoComida in restaurante.getTipoComida() %}
						<strong>{{ tipoComida.nombre }}{% if not loop.last %},{% endif %}</strong>
					{% endfor %}</div>
					<span>{{ restaurante.direccion }}, {{ restaurante.localidad.nombre }}, {{ restaurante.provincia.nombre }}, {{ restaurante.localidad.codigoPostal }}</span>
					<div>{{ restaurante.telefono }}</div>
					<div>Precio envío: {{ restaurante.precioEnvio }} €</div>
				</div>
				<div id="button">
					<a href="{{ path('menu_restaurante', {'id_restaurante': restaurante.id}) }}" class="btn btn-principal">Ver carta</a>
					<a href="{{ path('add_reserva', {'id_restaurante': restaurante.id}) }}" class="btn btn-principal">Reservar</a>
				</div>
				<hr>
			{% endfor %}
		</div>
		</div>
	</div>
{% endblock %}