{% extends 'RegisterBundle:Base:base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('front-end/css/style_register_client.css') }}">
{% endblock %}
{% block body %}
	<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgRHjOa0n38Z2adOjuXwBnmEBFMn4qltc&callback=initMap">
	</script>
	<div id="map"></div>
	<script type="text/javascript">

		var map;
		function initMap() {
			map = new google.maps.Map(document.getElementById('map'), {
				center: {lat: -34.397, lng: 150.644},
				zoom: 8
			});
		}

	</script>
	<div class="container">

    	{{ form_start(form) }}
		{{ form_errors(form) }}

    	<h2>Datos usuario</h2>
		{% if info is defined and info != null %}
		<div class="row">
			<div class="col-md-12">
				<p class="alert alert-danger">{{ info }}</p>
			</div>
		</div>
		{% endif %}
    	{{ form_row(form.username) }}

    	<div class="row">
    		<div class="col-md-6">
    			{{ form_row(form.password.first) }}
    		</div>
    		<div class="col-md-6">
    			{{ form_row(form.password.second) }}
    		</div>
    	</div>

   		{{ form_row(form.email) }}

   		<h2>Datos empresa</h2>

		<div class="row">
			<div class="col-md-12">
				<label for="nombre">Nombre</label>
				<input type="text" class="form-control" name="nombre">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<label for="direccion">Dirección</label>
				<input type="text" class="form-control" name="direccion" id="direccion">
			</div>
		</div>


    	<div class="row">
    		<div class="col-md-6">
				<label for="cif">CIF</label>
				<input type="text" class="form-control" name="cif" id="cif">
    		</div>
    		<div class="col-md-6">
				<label for="telefono">Teléfono</label>
				<input type="text" class="form-control" name="telefono" id="telefono">
    		</div>
    	</div>

        <div class="row">
            <div class="col-md-6">
				<label for="provincias">Provincia</label>
				{% if provincias is defined %}
					<select class="form-control" name="provincia" id="provincias">
					{% for provincia in provincias %}
						<option value="{{ provincia.id }}">{{ provincia.nombre }}</option>
					{% endfor %}
					</select>
				{% endif %}
            </div>
            <div class="col-md-6" id="select-localidades">
                <label for="localidades">Localidad</label>
                    <select name="localidad" id="localidad" class="form-control" required></select>
            </div>
        </div>
		<div class="row">
			<div class="col-md-12">
				<label for="coordenadas">Coordenadas</label>
				<input type="text" class="form-control" name="coordenadas" id="coordenadas" title="Si no está registrando el restaurante desde donde está éste ubicado, escriba las coordenadas a mano. Si no sabe cuáles son visite esta página: http://www.coordenadas-gps.com/">
				<div class="info-coordenadas"></div>
				<div id="map-coords"></div>
				<strong>Nota: </strong>Si no está registrando el restaurante desde donde está éste ubicado, escriba las coordenadas a mano. Si no sabe cómo hacerlo visite esta página: <a href="http://www.coordenadas-gps.com/" target="_blank">http://www.coordenadas-gps.com/</a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<label for="foto">Foto</label>
				<input type="file" class="form-control" name="foto" id="foto">
			</div>
			<div class="col-md-6">
				<label for="precioEnvio">Precio envío</label>
				<input type="number" class="form-control" name="precioEnvio" id="precioEnvio">
			</div>
		</div>

		<div>
			<input id="checkbox-3" class="checkbox-custom" name="checkbox-3" type="checkbox" required>
			<label for="checkbox-3"class="checkbox-custom-label">Acepto los <a href="{{ path('show_term_licenses') }}" target="_blank"> términos y licencias</a></label>
		</div>

    	<div class="form-group">
    		<br />
    		<button type="submit" id="button-submit" class="btn btn-primary">Registro</button>
    		<a href="{{ path('gestion') }}" id="button-submit" class="btn btn-danger">Cancelar</a>
    	</div>

    	{{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('manage/js/register.js') }}"></script>
{% endblock %}